@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
}

.font-s {
  font-family: "Quicksand", sans-serif;
}

.df {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.flex {
  flex: 1;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-end {
  justify-content: flex-end;
}

.window-size {
  width: 100%;
  height: 100vh;
}

.relative {
  position: relative;
}

.pad-h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.no-overflow {
  overflow: hidden;
}

.day {
  background: #fff;
}
